@font-face {
    font-family: "Akaash";
    src: url('font/Akaash.ttf');
 }
 @font-face {
    font-family: "Quicksand-semibold";
    src: url('font/Quicksand-semibold.ttf');
 }

 @font-face {
    font-family: "JosefinSans-SemiBold";
    src: url('font/JosefinSans-SemiBold.ttf');
 }

 @font-face {
    font-family: "Kelson-Thin";
    src: url('font/Kelson-Thin.otf');
 }

body {
    font-family: 'Quicksand-semibold';
    padding: 0;
    margin: 0;
    background: #04204a1a;
}

.bg-dark {
	background-color: #17a2b8 !important;
}

.navbar-brand {
	font-weight: bold;
    font-family: 'Akaash';
    font-size: 28px;
    color: #f7fafd;
}

.navbar-dark .navbar-nav .nav-link {
	font-weight: 700;
	font-size: 14px;
    text-transform: uppercase;
    color: #f7fafd;
}

.navbar-dark .navbar-nav .nav-item {
	margin: 0 15px;
} 

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.section-title h2 {
    font-family: 'JosefinSans-SemiBold';
}

.section-title h3 {
   font-family: 'JosefinSans-SemiBold';
}

.carousel-caption h3 {
    font-family: "Kelson-Thin";
    font-size: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 1.75rem;
    font-weight: 700;
}

.section-title-border {
    width: 100px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color:  #17a2b8;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.img-wrap .effect{
    position: relative;
    margin-bottom: 0;
    display: block;
}

.img-wrap .effect:after{
    z-index:-1;
    content:"";
    position: absolute;
    top:10px;
    right:10px;
    bottom:10px;
    left:10px;
    background: #011525;
    transition: .3s all ease-in-out;
}

.img-wrap:hover .effect:after{
    right:-10px;
    bottom:-10px;
    position: absolute;
}

html{
    scroll-behavior: smooth;
}

.hotel{
    padding-top: 130px;
    padding-bottom: 140px;
    background: #f7fafd;
}

.hotel h3{
    font-size: 36px;
}

.hotel p{
    font-size: 20px;
}

.hotel .single-dest{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom:30px;
}

.hotel .single-dest .thumb{
    position:relative;
    overflow: hidden;
}

.hotel .single-dest .thumb img{
    width:100%;
}

.hotel .single-dest .thumb .price{
    position: absolute;
    background:#17a2b8;
    padding:7px 18px 4px 18px;
    display:inline-block;
    top:20px;
    left:20px;
    border-radius: 18px;
    color:#fff;
    font-size:16px;
    transition: 0.3s;
}

.hotel .single-dest .dest-info{
    padding:27px 20px 25px 20px;
}

.hotel .single-dest .dest-info h3{
    font-size:22px;
    font-weight: bold;
    color:#040e27;
    margin-bottom: 0;
    transition:0.3s;
}

.hotel .single-dest .dest-info p{
    font-size: 14px;
    font-weight: lighter;
    color:#000;
    margin-top:2px;
    margin-bottom: 7px;
}

.hotel .single-dest .dest-info .rating span i{
    font-size: 12px;
    color:#f88408;
}

.hotel .single-dest .dest-info .rating span a{
    font-size: 14px;
    color:#000;
    margin-left:5px;
}

.hotel .single-dest .dest-info .rating .days{
    font-size:14px;
    font-weight: light;
    color:#000;
}

.hotel .single-dest .dest-info .rating .days i{
    margin-right: 8px;
}

.hotel .single-dest .dest-info .rating .days a{
    font-size:14px;
    color:#000;
}

.hotel .single-dest:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.hotel .single-dest:hover .dest-info h3{
    color:#030942;
}

.hotel .single-dest:hover .thumb .price{
    background: #0292f1;
}

.contact .icon-box{
    color:#030942;
    text-align:center;
    padding:20px 0 30px 0;
}

.contact .icon-box i.fab{
    font-size:20px;
    color:#0292f1;
    border-radius: 50%;
    padding:8px;
    background:#030942;
}

.contact .icon-box h3{
    font-size:20px;
    color:#000;
    font-weight:bold;
    margin:10px 0;
}

.contact .icon-box p{
    padding:0;
    line-height:24px;
    font-size:14px;
    margin-bottom:0;
}

.contact .social-links{
    margin-top:15px;
    display:flex;
    justify-content:center;
}

.contact .social-links a{
    font-size:16px;
    display: inline-block;
    color:#fff;
    line-height:1;
    margin:0 8px;
    transition: 0.3s;
    padding:10px;
    border-radius:50px;
    border:1px solid #030942;
}

.contact .social-links a:hover{
    color:#fff;
    border-color:#030942;
    background:#0292f1;
}

.contact form{
    padding:27px;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

@keyframes skew{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
}       